// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.body-home{
    background-color: black;
}

.img-oilers-home{
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

.button-home-1{
    width: 160px;
    height: 50px;
    background-color: #FFC042;
    color: white;
}

.button-home-2{
    width: 160px;
    height: 50px;
    background-color: #FFC042;
    color: white;
}

.img-oilers-about{
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.text-oilers-info{
    text-align: justify;
    text-indent: 35px;
}

.home-text{
    text-align: center;
    color: white;
}